@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oswald:wght@200,300,400,500,600,700&display=swap');
:root {
  --header-color: #0F2923!important;
  --footer-color:#F7F7F8 !important;
  --button-color: #3F51B5 !important;
  --dash1:#4DA3FF !important;
  --dash2:#FFE6AC !important;
  --dash3:#E7D1FC !important;

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Oswald", sans-serif;
}
.form-control:focus {
  border-color: #070984 !important;
  box-shadow: 0 0 5px #070984 !important;
}
p {
  font-family: "Lato", sans-serif !important;
}
.nbar{
  margin-top: 75px !important;
  background-color: var(--header-color);
}

.line{
  width: 60px;
  background-color: #fff !important;
  height: 2px ;
}
/* .card h3 {
  font-weight: 600;
} */

.preview1-text,
.preview-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.cat {
  background-color: #e27d5f;
}

@media (min-width: 992px) {
  .logo {
    width: 45%;
    position: relative;
    left: -33px;

  }

  .bug {
    padding-bottom: 75px;
  }
}


@media (max-width: 992px) {
  .logo {
    width: 25%;
    position: relative;
    left: 100px;
  }

  .bug {
    padding-bottom: 30px;
  }

}

li {
  list-style: none;
}

ul a {
  color: #fff;
  text-decoration: none;
}
ul a.active {
  color: #8AF135 !important;
}

/* for Detail page */
.img-100 {
  height:290px;
}
.progress-color{
  background-color: var(--button-color);
}
.backProject{
  background-color: var(--button-color) !important;
  height: 45px;
  width: 200px;
}
.backProject:hover{
  background-color: #040404 !important;
  transition:background-color 1s ease;
  cursor: pointer;
}
.detailcolor{
  color: var(--button-color);
}
/* loading css */
.detail-img{
  width: 400px;
  height: 500px;
}
/*detail css*/

/* .modal-title{
  padding-left: 120px;
} */
.contribution{
  border: 1px solid rgb(42, 119, 195);
}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-arrows:hover{
  border: 2px solid var(--button-color) !important;
  cursor: pointer;
}
.no-arrows:focus{
  border-color: #3314b3 !important; 
  outline: none !important; 
  box-shadow: 0 0 5px #6f35dc !important;

}
.continueBtn{
  background-color: var(--button-color);
  border-radius: 9px  !important;
  height: 35px;
  width: 170px !important;
}
.continueBtn:hover{
  
  background-color: #191818 !important;
  transition:background-color 1s ease;
  cursor: pointer;
}
.continueBtn1{
  background-color: var(--button-color) !important;
  height: 37px;
  width: 100px;
}
.continueBtn1:hover{
  background-color: #191818 !important;
  transition:background-color 1s ease;
  cursor: pointer;
}
.addproduct:hover{
  border: 1.5px solid #0f147f;
  cursor: pointer;
}
.addproduct:focus{
  border-color: #260aa2 !important; 
  outline: none !important; 
  box-shadow: 0 0 5px #1616dd !important;
}
.active{
  color: green !important;
}
.Addimage{
  width: 350px;
  height: auto;
  padding-bottom: 10px;
  background-color: #CBDCE1;
  border: 2px dashed rgb(17, 193, 94);
}
.item{
  width: 19.5rem !important;
  height: auto !important;
}
.item:hover .absolute-hidden {
  opacity: 1;
  transition: opacity 0.4s ease;
 
}
.item:hover .photo {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.5); 
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}

.absolute-hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in; 
}
.progress-color{
  background-color: #5882d8 !important;
}
.dashboard a.active {
  color: var(--button-color) !important; 
  font-weight: bolder;
}
.product{
  background-color: var(--dash3) !important;
}
.raised{
  background-color: var(--dash2) !important;
}
.toraise{
  background-color: var(--dash1) !important;
}
.table-striped th {
  background-color: #b1c5da !important; 
}
.companycard:hover .hide {
  opacity: 1;
  transition: opacity 0.5s ease;
 
}

.hide {
  opacity: 0;
  transition: opacity 0.5s ease-in; 
}